extends layout

block content
  h1= title
  p= info.titulo
  p Status:
    = info.status
  for entity in entities
    .card.mb-3
      .card-body
        h5.card-title= entity.titulo
        p.card-text Code: 
                  a(href='/api/c/' + entity.codigo)= entity.codigo