extends layout

block content
  h1 HOMEPAGE
    .card.mb-3
      .card-body
        h5.card-title
            a(href='/c1') Classes
      .card-body
        h5.card-title
            a(href='/term') Index terms